{
    "workers": [
        {
            "threads": 1,
            "bids": {
                "type": "appodeal",
                "url": "localhost:17339"
            },
            "wins": {
                "type": "appodeal",
                "url": "localhost:17340"
            },
            "events": {
                "type": "appodeal",
                "url": "localhost:17341"
            }
        }
    ]
}
